<html>
<head>
</head>
<body>
  <table class="table" border="1" style="font-size:10px;width:100%">
    <tbody>
      <tr>
        <td style="font-size: 15px; font-weight: bolder; text-align: center" colspan="3">
          {purchaseOrderNumber}
        </td>
        <td align="center" colspan="2">
          <table align="center">
            <tbody>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td style="font-size: 15px; text-align: right" colspan="4">
          <b>Fecha: </b>{FechaCreacion}
        </td>
      </tr>
      {LineasPDF}
    </tbody>
  </table>
</body>
</html>
